/*  Portfolio Hex  */
.overflow-hidden {overflow: hidden;}
.inline-block {display: inline-block;}
.full-width-container, .fullwidth {width: 100%;}
#port-hex {overflow: hidden; background: #666;}

img.paralax-bg-effect {position: absolute; top: 0; left: 0; width: auto; max-width: none;}

.white-letters-inside, .white-letters-inside h2 {color: #fff;}
.hex-grid-wrap {display: inline-block; margin: 0 auto;}

.flex-hex .hexagon {width: 100%;}
.hexagon-elements-wrap {width: 100%;}
.hexagon-elements-wrap-inner { padding: 36px 0;}
.single-hex {padding: 32px 0;}
.port-hex-wrap {width: 992px; margin: auto;}
.hexagon {overflow: hidden; visibility: hidden; -webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); -o-transform: rotate(120deg); transform: rotate(120deg); cursor: pointer;}
.hexagon {width: 240px; height: 480px; margin: -100px 15px;}
.hexagon-in1 { overflow: hidden; width: 100%; height: 100%; -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -o-transform: rotate(-60deg); transform: rotate(-60deg);}
.hexagon-in2 { width: 100%;height: 100%; background-repeat: no-repeat; background-position: center center; visibility: visible; background-size: 150%; -webkit-transform: rotate(-60deg); -moz-transform: rotate(-60deg); -o-transform: rotate(-60deg); transform: rotate(-60deg); position: relative; overflow: hidden;}
.first-element {background-image: url(../images/port-hex/1.jpg);}
.second-element {background-image: url(../images/port-hex/2.jpg);}
.third-element {background-image: url(../images/port-hex/3.jpg);}
.fourth-element {background-image: url(../images/port-hex/4.jpg);}
.fifth-element {background-image: url(../images/port-hex/5.jpg);}
.sixth-element {background-image: url(../images/port-hex/6.jpg);}
.seventh-element {background-image: url(../images/port-hex/7.jpg);}
.eightth-element {background-image: url(../images/port-hex/8.jpg);}
.ninth-element {background-image: url(../images/port-hex/9.jpg);}
.tenth-element {background-image: url(../images/port-hex/10.jpg);}

.hover-effect {position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 5; display: table; vertical-align: middle; transition: opacity 0.3s; -webkit-transition: opacity 0.3s; opacity: 0; background: rgba(0,0,0,0.85);}
.table-row .table-cell .border-bottom-white {width: 60%;}
.hover-effect .text-caption {font-size: 18px;}

.hexagon:hover .hover-effect {opacity: 0.5;}

#port-hex .border-bottom-gray {border-bottom-color: #fff;}

.item-details-wrapper {height: 0; opacity: 0;}

#carousel-hex h4 {color: #fff;}
#carousel-hex .carousell-content { padding: 48px 0;}
#carousel-hex .carousel-placing {height: 0; overflow: hidden; opacity: 0; filter: alpha(opacity=0);}
#carousel-hex .carousel-control {top: 0; left: 0; width: 50px; height: 50px; background: #db1; margin-top: 20px;}
#carousel-hex .carousel-control.right {left: 72px; background: url(images/portfolio/arrow-right.png) no-repeat center center;}
#carousel-hex .carousel-control.left {background: url(images/portfolio/arrow-left.png) no-repeat center center;}
#carousel-hex .carousel-control.closing {left: auto; right: 0; background: url(images/portfolio/close.png) no-repeat center center; cursor: pointer;}

#carousel-hex #carousel *:not(a) {color: #999;}
